name: Vulnerabilities Scan

on:
  pull_request:
    branches:
      - prod  
  push:
    branches:
      - prod  

jobs:
  security-check:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.10'

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install requests pandas

    - name: Run SafeDeps Scanner
      run: |
        python vulnerability_scanner.py
